@namespace Goodtocode.AgentFramework.Presentation.Web.Library

<div style="height:@Height; min-height:@Height; width:100%; flex:0 0 auto;" aria-hidden="true"></div>

@code {
    [Parameter] public string Height { get; set; } = "8px";
}
