:root {
    --font-family-base: 'Segoe UI', Arial, sans-serif;
    --neutral-foreground-rest: #222b3a;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    font-weight: var(--font-weight);
    color: var(--neutral-foreground-rest);
    background: var(--neutral-fill-layer-rest);
}
